@import '../variables.scss';

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  font-size: 1.2rem;

  .footer-nav-link {
    text-decoration: none;
    color: $nav-link;

    &:visited {
      color: $nav-link;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }

    &:active {
      color: black;
    }
  }

  .footer-nav-link:nth-child(1) {
    margin-right: 2rem;
  }
  
  #site-source-link {
    text-decoration: none;
    color: $nav-link;

    &:visited {
      color: $nav-link;
    }

    &:active {
      color: black;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}