@import "../variables.scss";
@import "../mixins.scss";

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  font-size: 1.2rem;

  @include medium {
    flex-direction: column;
  }

  .footer-icons {
    @include medium {
      display: flex;
      flex-direction: column;
    }
  }

  .footer-nav-link {
    text-decoration: none;
    color: $nav-link;
    transition: $hover;

    &:visited {
      color: $nav-link;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }

    &:active {
      color: black;
    }
  }

  .footer-nav-link:nth-child(2) {
    margin-right: 2rem;
  }

  #site-source-link {
    text-decoration: none;
    color: $nav-link;
    transition: $hover;

    &:visited {
      color: $nav-link;
    }

    &:active {
      color: black;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .dark-footer-nav-link {
    text-decoration: none;
    color: $dark-text;
    transition: $hover;

    &:visited {
      color: $dark-text;
    }

    &:hover {
      color: $dark-hover;
      cursor: pointer;
    }

    &:active {
      color: $dark-hover;
    }
  }

  .dark-footer-nav-link:nth-child(1) {
    margin-right: 2rem;
  }

  #dark-site-source-link {
    text-decoration: none;
    color: $dark-text;
    transition: $hover;

    &:visited {
      color: $dark-text;
    }

    &:active {
      color: $dark-hover;
    }

    &:hover {
      color: $dark-hover;
      cursor: pointer;
    }
  }
}
