@import "../variables.scss";
@import "../mixins.scss";

.header-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 6rem;
  padding-top: 1rem;

  .header-gear-container {
    display: flex;
    transform-origin: 50% 50% 0;

    .header-gear {
      animation: spin 2.5s linear infinite;
    }

    .header-gear-offset {
      position: relative;
      right: 6px;
      animation: offsetSpin 2.5s linear infinite;
    }
  }

  .dan-icon {
    color: $main;
    font-size: 2.2rem;

    @include medium {
      font-size: $mobile-font;
    }

    &:visited {
      color: black;
    }

    &:active {
      color: black;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .dan-icon-dark {
    color: $dark-text;
    font-size: 2.2rem;

    @include medium {
      font-size: $mobile-font;
    }

    &:visited {
      color: $dark-text;
    }

    &:active {
      color: white;
    }

    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  .header-nav-link-container {
    display: flex;
    align-items: center;

    .light {
      cursor: pointer;
      font-size: 1.2rem;
      text-decoration: none;
      color: $main;
    }
  }
}

// Clockwise

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

// Counter-clockwise

@keyframes offsetSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes offsetSpin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes offsetSpin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
