@import '../variables.scss';

#fav-tech {
  margin-bottom: 8rem;

  #tech-container {
    display: flex;
    flex-flow: row wrap;

    .tech {
      margin-right: 1rem;
    }

    .dark-tech {
      margin-right: 1rem;
      color: $dark-hover;
    }
  }
}