@import '../variables.scss';

#services {
  margin-bottom: 8rem;

  .dark-services-subhead {
    color: $dark-hover;
  }

  h3 {
    color: $main;
  }

  .dark-services-content {
    color: $dark-text;
  }
}