@import '../variables.scss';
@import '../mixins.scss';

.availability {
  @include availability;
  color: $main;

  .availability-status {
    color: $available;
    @include availability-status;
  }

  .no-availability-status {
    color: $not-available;
    @include availability-status;
  }

  .availability-icon{
    margin-left: 0.5rem;
  }
}

.dark-availability {
  @include availability;
  color: $dark-text;

  .dark-availability-status {
    color: $dark-available;
    @include availability-status;

    .availability-icon{
      margin-left: 0.5rem;
    }
  }
}
