@import "../variables.scss";
@import "../mixins.scss";

.availability {
  @include availability;
  color: $main;

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }

  .availability-status {
    color: $available;
    @include availability-status;

    @media (max-width: 750px) {
      font-size: 1.5rem;
    }
  }

  .no-availability-status {
    color: $not-available;
    @include availability-status;

    @media (max-width: 750px) {
      font-size: 1.5rem;
    }
  }

  .availability-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;

    @media (max-width: 750px) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.dark-availability {
  @include availability;
  color: $dark-text;

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }

  .dark-availability-status {
    color: $dark-available;
    @include availability-status;

    @media (max-width: 750px) {
      font-size: 1.5rem;
    }

    .availability-icon {
      width: 2rem;
      height: 2rem;
      margin-left: 0.5rem;

      @media (max-width: 750px) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
