@import '../variables.scss';
@import '../mixins.scss';

.contact {
  @include contact;
  color: $main;

  .contact-cta {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: rgba($primary, 0.6);
    }
  }
}

.dark-contact {
  @include contact;
  color: $dark-text;

  .dark-contact-cta {
    color: $dark-primary;
    text-decoration: none;

    &:hover {
      color: lighten($dark-primary, 15%);
    }
  }
}