@import "../variables.scss";
@import "../mixins.scss";

.contact {
  @include contact;
  color: $main;

  @media (max-width: 750px) {
    font-size: $mobile-font;
  }

  .contact-cta {
    color: $main;
    border-bottom: 6px solid $primary;
    text-decoration: none;
    transition: $hover;
  }
}

.dark-contact {
  @include contact;
  color: $dark-text;

  @media (max-width: 750px) {
    font-size: $mobile-font;
  }

  .dark-contact-cta {
    color: $dark-text;
    border-bottom: 6px solid $dark-primary;
    text-decoration: none;
    transition: $hover;
  }
}
