@import "../variables.scss";
@import "../mixins.scss";

.contact {
  @include contact;
  color: $main;

  @include medium {
    font-size: $mobile-font;
  }

  .contact-cta {
    color: $main;
    border-bottom: 6px solid $primary;
    text-decoration: none;
    transition: $hover;
    margin-left: 0.5rem;

    @include medium {
      margin-left: 0;
    }
  }
}

.dark-contact {
  @include contact;
  color: $dark-text;

  @include medium {
    font-size: $mobile-font;
  }

  .dark-contact-cta {
    color: $dark-text;
    border-bottom: 6px solid $dark-primary;
    text-decoration: none;
    transition: $hover;
    margin-left: 0.5rem;

    @include medium {
      margin-left: 0;
    }
  }
}

.contact-cta-wrapper {
  @include medium {
    margin-top: 1.5rem;
  }
}
