@import '../variables.scss';

.hero {
  margin-bottom: 8rem;
  font-size: 4rem;
  color: $main;

  #hero-highlight {
    color: $primary;
  }
}

.dark-hero {
  margin-bottom: 8rem;
  font-size: 4rem;
  color: $dark-text;

  #dark-hero-highlight {
    color: $dark-primary;
  }
}