@import '../variables.scss';
@import '../mixins.scss';

.hero {
  @include hero;
  color: $main;

  #hero-highlight {
    color: $primary;
  }
}

.dark-hero {
  @include hero;
  color: $dark-text;

  #dark-hero-highlight {
    color: $dark-primary;
  }
}