@import "../variables.scss";
@import "../mixins.scss";

.hero {
  @include hero;
  color: $main;

  @include medium {
    font-size: 2.25rem;
    margin-bottom: 6rem;
  }

  #hero-highlight {
    border-bottom: 8px solid $primary;
  }
}

.dark-hero {
  @include hero;
  color: $dark-text;

  @include medium {
    font-size: 2rem;
    margin-bottom: 6rem;
  }

  #dark-hero-highlight {
    border-bottom: 8px solid $dark-primary;
  }
}
