@import "../variables.scss";
@import "../mixins.scss";

// DARK MODE PIECE STYLES

.dark-piece {
  @include piece; 
  background: $dark-piece;

  .piece-content-container {
    @include piece-content-container;

    .dark-piece-title {
      color: $dark-hover;
    }

    .dark-piece-desc {
      color: $dark-text;
    }
  }
  .piece-buttons {
    @include piece-buttons;

    .piece-left-buttons {
      display: flex;
    }

    .dark-piece-gh {
      color: $dark-primary;
      @include gh;
    }

    .dark-piece-site {
      color: $dark-primary;
      border: 2px solid $dark-primary;
      @include piece-site;

      &:hover {
        color: white;
        background-color: $dark-primary;
        cursor: pointer;
      }

      &:active {
        color: white;
      }
    }

    .piece-right-buttons {

      .piece-learn {
        @include learn;
      }
    }
  }
}

// LIGHT MODE PIECE STYLES

.piece {
  @include piece;

  .piece-content-container {
    @include piece-content-container;

    .piece-title {
      color: $main;
    }
  }
  .piece-buttons {
    @include piece-buttons;

    .piece-left-buttons {
      display: flex;
    }

    .piece-gh {
      color: $primary;
      @include gh;

      &:hover {
        cursor: pointer;
      }

      &:active {
        color: $primary;
      }
    }

    .piece-site {
      color: $primary;
      border: 2px solid $primary;
      @include piece-site;

      &:hover {
        color: white;
        background-color: $primary;
        cursor: pointer;
      }

      &:active {
        color: white;
      }
    }

    .piece-right-buttons {

      .piece-learn {
        @include learn;
      }
    }
  }
}