@import "../variables.scss";
@import "../mixins.scss";

// DARK MODE PIECE STYLES

.dark-piece {
  @include piece;
  background: $dark-piece;

  .piece-content-container {
    @include piece-content-container;

    .piece-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dark-piece-title {
        color: $dark-text;
      }

      .piece-tech-container {
        display: flex;
        align-items: center;
        font-size: 0.9rem;

        .dark-piece-tech {
          margin-right: 0.5rem;
          color: $dark-text;
        }
      }
    }

    .dark-piece-desc {
      color: $dark-text;
    }
  }
  .piece-buttons {
    @include piece-buttons;

    .piece-left-buttons {
      display: flex;
    }

    .dark-piece-gh {
      @include gh;
      color: $dark-text;
    }

    .piece-right-buttons {
      .piece-learn {
        @include learn;
        color: $dark-text;
        border: 1px solid $dark-text;

        &:hover {
          background: $dark-text;
          color: $dark-piece;
        }
      }
    }
  }
}

// LIGHT MODE PIECE STYLES

.piece {
  @include piece;

  .piece-content-container {
    @include piece-content-container;

    .piece-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .piece-title {
        color: $main;
      }

      .piece-tech-container {
        display: flex;
        align-items: center;
        font-size: 0.9rem;

        .piece-tech {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .piece-buttons {
    @include piece-buttons;

    .piece-left-buttons {
      display: flex;
    }

    .piece-gh {
      color: $main;
      @include gh;

      &:hover {
        cursor: pointer;
      }

      &:active {
        color: $main;
      }
    }

    .piece-right-buttons {
      .piece-learn {
        @include learn;
      }
    }
  }
}
