@import "../../styles/mixins.scss";

.wave-container {
  position: absolute;
  top: 371px;
  left: 265px;
  height: 110px;
  width: 110px;

  @include medium {
    top: 292px;
    left: 128px;
  }

  @media (max-width: 339px) {
    top: 345px;
    left: 36px;
  }
}

.wave-svg {
  margin: 0 auto;
  overflow: hidden;
}

#wave {
  animation: moveTheWave 4s linear infinite;
}

@keyframes moveTheWave {
  0% {
    transform: translate3d(-95px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
