@import "../variables.scss";
@import "../mixins.scss";

.work-spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0 10rem 0;

  @include medium {
    padding: 4rem 0 8rem 0;
  }

  .work-title {
    color: $main;
    padding-bottom: 8rem;

    @include medium {
      font-size: 1.75em;
      padding-bottom: 6rem;
    }
  }

  .dark-work-title {
    color: $dark-text;
    padding-bottom: 8rem;

    @include medium {
      font-size: 1.75em;
      padding-bottom: 6rem;
    }
  }

  .piece-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
