.about-container {
  width: 75%;

  #aboutme {
    margin-bottom: 4rem;
  }

  #services {
    margin-bottom: 4rem;
  }

  #fav-tech {
    margin-bottom: 4rem;

    #tech-container {
      display: flex;
      flex-flow: row wrap;

      .tech {
        margin-right: 1rem;
      }
    }
  }

  .about-header {
    font-size: 3rem;
  }
}