@import '../variables.scss';

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;

  .home-link {
    text-decoration: none;
  }

  .dan-icon {
    color: $main;
    font-size: 2.2rem;

    &:visited {
      color: black;
    }

    &:active {
      color: black;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .header-nav-link-container {
    display: flex;
    align-items: center;

    .header-nav-link {
      cursor: pointer;
      font-size: 1.2rem;
      text-decoration: none;
    }

    .header-nav-link:nth-child(2) {
      margin-left: 2rem;
    }

    .header-nav-link:nth-child(1) {
      color: $nav-link;

      &:hover {
        color: black;
      }

      &:visited {
        color: $nav-link;
      }
  
      &:active {
        color: black;
      }
    }
  }
}