@import "../variables.scss";

.work-spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;

  .work-title {
    color: $main;
    padding-bottom: 4rem;
  }

  .piece-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .piece {
      margin: 1rem;
      width: 250px;
      height: 250px;
      box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .piece-content-container {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;

        .piece-title {
          font-weight: bold;
        }
      }
      .piece-buttons {
        margin: 0 1rem 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .piece-left-buttons {
          display: flex;
        }

        .piece-gh {
          color: $primary;
          margin-right: 0.5rem;
          display: flex;
          align-self: flex-end;

          &:hover {
            cursor: pointer;
          }

          &:active {
            color: $primary;
          }
        }

        .piece-site {
          color: $primary;
          padding: 0.15rem 0.5rem;
          border: 2px solid $primary;
          border-radius: 15%;
          font-size: 0.9rem;

          &:hover {
            color: white;
            background-color: $primary;
            cursor: pointer;
          }

          &:active {
            color: white;
          }
        }

        .piece-right-buttons {

          .piece-learn {
            color: $accent-two;
            text-decoration: none;
            padding: 0.15rem 0.5rem;
            border: 2px solid $accent-two;
            border-radius: 15%;
            font-size: 0.9rem;

            &:hover {
              color: white;
              background-color: $accent-two;
              cursor: pointer;
            }

            &:active {
              color: white;
            }
          }
        }
      }
    }
  }
}
