@import "./variables.scss";

// availability mixins

@mixin availability {
  margin-bottom: 2rem;
  display: flex;
  font-size: 2rem;
}

@mixin availability-status {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

// contact mixins

@mixin contact {
  margin-bottom: 8rem;
  margin-top: 2rem;
  font-size: 2rem;
}

// hero mixins

@mixin hero {
  margin-bottom: 8rem;
  font-size: 3.25rem;
  line-height: 1.5;
}

// piece mixins

@mixin piece {
  margin: 1rem;
  width: 275px;
  height: 275px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin piece-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  line-height: 1.5;
  color: $main;
}

@mixin piece-buttons {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin gh {
  color: $main;
  margin-right: 0.5rem;
  display: flex;
  align-self: flex-end;
}

@mixin learn {
  color: $main;
  padding: 0.33rem;
  text-decoration: none;
  border: 1px solid $main;
  transition: $hover;
  font-weight: 500;

  &:hover {
    color: white;
    background: $main;
  }
}

@mixin medium {
  @media (max-width: 850px) {
    @content;
  }
}
