// light
$primary: rgb(94, 2, 207);
$available: rgb(107, 196, 23);
$not-available: rgb(219, 37, 52);
$accent-two: rgb(224, 115, 6);
$nav-link: rgba(0, 0, 0, 0.5);
$main: rgb(51, 51, 51);

// dark
$dark-background: rgb(24, 24, 24);
$dark-text: rgb(175, 175, 185);
$dark-hover: rgb(215, 215, 225);
$dark-primary: rgb(8, 180, 206);
$dark-available: rgb(156, 188, 154);